<!DOCTYPE html>

<style>
  input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  input[type="number"] {
      -moz-appearance: textfield;
  }
</style>

<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />

  </head>
  <body style="padding: 0px !important">
    <div class="container">
      <h1><%= title %></h1>

      <form action="/atualizar" method="POST">
        <div class="form-group">
          <label for="nomeEmpresa">Nome Empresa:</label>
          <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Nome empresa" name="nome" value="<%= dadosempresa.nome %>"/>
          <small id="emailHelp" class="form-text text-muted">Pode ser tanto o Nome quanto a Razão Social da empresa.</small>
        </div>

        <div class="form-row">
          <div class="form-group col-md-10">
            <label for="endereco">Logradouro:</label>
            <input type="text" class="form-control" placeholder="Rua, avenida, etc..." name="endereco" value="<%= dadosempresa.logradouro %>"/>
          </div>

          <div class="form-group col-md-2">
            <label for="numero">Número:</label>
            <input type="number" class="form-control" placeholder="Número" name="numero" value="<%= dadosempresa.numero %>"/>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="bairro">Bairro:</label>
            <input type="text" class="form-control" placeholder="Bairro" name="bairro" value="<%= dadosempresa.bairro %>"/>
          </div>

          <div class="form-group col-md-6">
            <label for="cidade">Cidade:</label>
            <input type="text" class="form-control" placeholder="Cidade" name="cidade" value="<%= dadosempresa.cidade %>"/>
          </div>
        </div>

        <button type="submit" class="btn btn-primary" id="btnAtualizar">
            Atualizar
        </button>
        <button type="button" class="btn btn-primary" id="btnInicio" onclick="window.location.href = '/';">
            Início
        </button>
      </form>
    </div>
  </body>
</html>
